p Hi #{first_name},
p I hope this note finds you doing well. Please allow me to introduce myself - my name is Alex Timmons - I'm the co-founder of Truefluence. Earlier this year we worked with a panel of 50 top Instagram influencers to develop a new linking technology. I'm happy to announce that it is now live! We're calling it <a href="https://www.postinfo.co">Postinfo</a> and to celebrate its launch we're offering a free account, for life, to anyone that signs up in the next 15 days!
p Two things were immediately clear to us when working with your fellow instagrammers:
ol
li You want your linking technology to have <strong><em>both</em></strong> permanent links <strong><em>and</em></strong> a clickable feed of your posts.
li What's missing is a place for you to authentically share your favorite products with your followers - the things you personally use and love most. After all, it's no secret that your followers want to buy and use the same things you do!
ol
p So, we wrapped all these learnings into Postinfo - a powerful, yet simple tool that helps your followers navigate out of Instagram to your favorite sites (such as your personal blog, partner sites, social accounts, affiliate sites, etc.). Easy navigation increases clicks out of Instagram, and clicks out of Instagram means more revenue for you!
p It takes just a few clicks to setup your Postinfo page. You just then update your Instagram bio link once and never change it again. It's that easy. Here are a few examples of fellow Instagrammers already using Postinfo (note that you can set up your page however you'd like!):
p <a href="https://postinfo.co/hannahharvestinghealth">@HannahHarvestingHealth</a>. Hannah set up her page to use all three features (permanent links, her favorite products, and a clickable feed of her Instagram posts).
p <a href="https://postinfo.co/bluebungalow">@BlueBungalow</a>. Blue Bungalow set up their page to show their favorite links as well as a clickable feed of their posts.
p <a href="https://postinfo.co/holajalapeno">@HolaJalapeno</a>. Kate has set up her page to just show a clickable feed of her posts.
p Again, we're offering up a free account, for life, to anyone that signs up in the next 15 days. Even if you don't need Postinfo this moment, signing up now will lock in your free account for life. It's our way of thanking you for adopting this new technology so early.
p Getting started is as simple as heading over to <a href="https://www.postinfo.co">Postinfo</a> and sign up for a free trial. Your username is on a pre-approved list of influencers who will automatically have their trial accounts upgraded to be free for life!
p Thanks and have a great day!
p Alex Timmons<br />Co-Founder<br /><a href="https://www.truefluence.io">Truefluence.io</a>

p I’m sure you’re busy right now so I’ll send a follow-up in a few days. If you don’t want that please just let me know. Thanks!