p Hi again #{first_name},
p Sorry to reach out so soon. Just touching base to see if you have any questions about Postinfo. 
p Reminder that our free for life offer ends in #{remaining_days} days! To take advantage of this deal, visit <a href="https://www.postinfo.co">Postinfo</a> and start a free trial (your account will be flagged as free for life).
p Thanks,
p Alex