p Hi #{first_name},
p I hope this note finds you doing well. Please allow me to introduce myself - my name is Alex Timmons - I'm the co-founder of Truefluence. Earlier this year we worked with a panel of 50 top Instagram influencers to develop a new linking technology. I'm happy to announce that it is now live! We're calling it Postinfo and we're offering a free account for life to anyone that signs up in the next 15 days.
p Postinfo is a powerful, yet simple tool that optimizes your traffic out of Instagram. With one bio link, your followers can easily navigate from Instagram to your favorite sites (such as your personal blog, partner sites, social accounts, affiliate sites, etc.). Easy navigation increases clicks out of Instagram, and clicks out of instagram means more revenue for you!
p In just a few clicks you can have your Postinfo page setup. You just then update your bio link once and never change it again. It's that easy. Here are some of the things you can add to your page to get your followers clicking:
ul
  li Links. XXX
  li Instagram Posts. XXX
  li Favorite Products. XXX

p Hundreds of your fellow bloggers are already using Postinfo. Join them! Simply visit Postinfo.co to get going, or email me back with any questions.